.cart{
    height: 99vh;
    width: 100%;
}
.headDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab{
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse ;
}
.CartThead{
    background-color: #58897f;
    height: 50px;
    color: white;
    font-weight: bold;
}
.theadCol1,.theadCol2,.theadCol3,.theadCol4{
    padding-left: 5px;

}
.item,.price,.quantity,.total{
    padding-left: 5px;
}
.item{
    display: flex;
}
.productImg{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.p{
    margin-top: -3px;
}

tr:nth-child(even) {
    background-color: #d2e1dd;
}
