.topbarContainer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background: #3c6d63; */
    background-color: var(--pine-green);
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarLeft{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.topbarRight{
    padding: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbarLink{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    width: 100%;
}
.fa-user-circle{
    font-weight: 600;
}