.sidebar{
    flex: 1;
    background-color: #3c6d63;
    border: 2px solid white ;
    border-left: 0px;
    height: 620px;
    position: sticky;
    top:60px
}
.sidebarWrapper{
    padding-top: 20px;
    width: 100%;
}
.sidebarList{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.sidebarListItem{
    display: flex;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.sidebarListItem :hover{
    background-color: none;
    color: black;
}
.sidebarList :hover{
    background-color: #7ec3b5;
    color: black;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}
.productItemLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}